repos:
  - repo: https://github.com/dycw/pre-commit-hook-nitpick
    rev: 0.7.3
    hooks:
      - args:
          - --description=Template for Python actions
          - --github--pull-request--pre-commit
          - --github--push--tag
          - --github--push--tag--latest
          - --github--push--tag--major
          - --github--push--tag--major-minor
          - --pre-commit--prettier
          - --pre-commit--taplo
          - --readme
          - --repo-name=template-action
        id: nitpick
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
