name: pull-request
on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Run 'pre-commit'
        uses: dycw/action-pre-commit@latest
        with:
          token-checkout: ${{github.token}}
          token-uv: ${{github.token}}
          repos: |-
            dycw/conformalize
            pre-commit/pre-commit-hooks
          sleep: 1
